.caracteristicas {
    height: auto;
    width: 100%;
    background-color: rgb(234, 232, 232);
}

.caracteristicas--text{
    /* border: solid 1px red; */
    text-align: center;
    margin: 10px 80px;
    padding-bottom: 30px;
}

/* @media (min-width: 700px) {
    .caracteristicas {
        height: 100px;
        border: solid 1px red;

    }
} */